# -----------------------------
# Bytecode / cache
# -----------------------------
__pycache__/
*.py[cod]
*$py.class

# -----------------------------
# Virtual environments
# -----------------------------
venv/
env/
.venv/
.env/

# -----------------------------
# Jupyter Notebook
# -----------------------------
.ipynb_checkpoints/
*.ipynb_checkpoints

# -----------------------------
# Logs / debug
# -----------------------------
*.log
*.out
*.err

# -----------------------------
# PyTorch / ML checkpoints
# -----------------------------
*.pt
*.pth
*.ckpt
*.h5

# -----------------------------
# Dataset / output
# -----------------------------
data/
outputs/
*.npz
*.npy

# -----------------------------
# IDE / editor
# -----------------------------
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# -----------------------------
# OS files
# -----------------------------
.DS_Store
Thumbs.db
